<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.termdeck</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>/Users/dan/workspace/termdeck/run.sh</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/dan/workspace/termdeck</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/dan/data/termdeck/termdeck.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/dan/data/termdeck/termdeck.log</string>
</dict>
</plist>
